.header {
	display: flex;
	justify-content: center;
	width: 95%;
	height: 11%;
	margin: auto;
	background-color: gray;
	text-align: center;
	overflow-y:  hidden;
}
.iframe {
	margin-top: 0px;
	padding-top: 0px;
	width: 100%;
	margin-top: 4px;
}
.container {
	display: flex;
	justify-content: center;
	width: 95%;
	height: 100vh;
	margin: auto;
	background-color: lime;
}
.content {
	align-items: top;
}