#header {
	display: flex;
	justify-content: center;
	height: 7%;
	margin: auto;
	text-align: center;
	overflow-y:  hidden;
	margin-top: -11px;
	transition: transform 0.3s ease-out;
}
#iframe {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	width: 100%;
	margin-top: 0px;
}
@media only screen and (max-width: 1000px){
  #header { height: 45px; }
}
@media only screen and (min-width: 1000px) and (max-width: 8000px) {
  #header { height: 83px; }
}
#container {
	display: flex;
	justify-content: center;
	width: 95%;
	height: auto;
	margin: auto;
	background-color: lime;
	margin-bottom: 3px;
}
#content {
	align-items: top;
}

/*
@media only screen and (min-width: 500px) {
  
}

@media only screen and (min-width: 800px) {
	изменения для ширины экрана больше 1500px
	#header {
    height: 105px;
  }
}
*/